{% extends 'base.html' %}

{% block page_title %} {{chapter.title}} - Page {{page_no}} {% endblock page_title %}

{% block page_style %}
<style>
#main-div::-webkit-scrollbar,
#question-sidebar::-webkit-scrollbar{
     width: 0 !important
}
::-webkit-scrollbar{
     width: 0 !important
}
</style>

{% endblock page_style %}

{% block page_content %}

<div class="row" id="main-div">
    <div class="col-lg-8 col-sm-12">
        <img src="https://raw.githubusercontent.com/my-personal-repos/english-grammar-book/main/chapter-{{chapter_pk}}/{{page_no}}.jpg" class="w-100 border" alt="">
    </div>

    <div class="col-lg-4 col-sm-12 sticky-lg-top overflow-auto border-bottom pb-5" id="question-sidebar" style="max-height:85vh;">
        <div class="d-flex justify-content-between">
            <a href="{% url 'learn:page-detail' chapter_pk prev_page %}" class="btn btn-primary d-flex align-items-center">&lt; Prev</a>
            <div class="d-flex flex-column justify-content-center text-center">
                <div>
                    <b><a href="{% url 'learn:chapter-detail' chapter_pk %}">{{chapter.title}}</a></b> 
                </div>
                <div>
                    <span class="lead">Page {{page_no}} of {{chapter.no_of_pages}}</span>
                </div>
            </div>
            <a href="{% url 'learn:page-detail' chapter_pk next_page %}" class="btn btn-primary d-flex align-items-center">Next &gt;</a>
        </div>
        <hr>
        <div class="{% if is_completed == False %} {% else %} d-none {% endif %}">
            <h6>Add Question</h6>
            <form action="{% url 'learn:add-question' %}" id="new-question-form" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="rule" name="rule" placeholder="Enter Rule" autofocus>
                    <button type="button" class="btn btn-outline-primary" id="copy-btn-1" onclick="copyToClipboard('rule', 'copy-btn-1')"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-outline-primary" id="recording-btn-1" onclick="startDictation('rule', 'recording-btn-1')"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="question" name="question" placeholder="Enter Question">
                    <button type="button" class="btn btn-outline-primary" onclick="insertBlank()">__</button>
                    <button type="button" class="btn btn-outline-primary" id="recording-btn-2" onclick="startDictation('question', 'recording-btn-2')"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="answer" name="answer" placeholder="Enter Answer">
                    <button type="button" class="btn btn-outline-primary" id="recording-btn-3" onclick="startDictation('answer', 'recording-btn-3')"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                </div>
                <!-- {{chapter_pk}}, {{page_no}} -->
                <input type="number" name="chapter_pk" id="chapter_pk" hidden value="{{chapter_pk}}">
                <input type="number" name="page_no" id="page_no" hidden value="{{page_no}}">
                <div class="d-flex flex-row-reverse">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm">
                    <input type="button" value="Clear" onclick="document.querySelector('#new-question-form').reset()" class="btn btn-primary btn-sm mx-1">
                </div>
            </form>
        </div>
        <hr>
        <h6>Questions</h6>
        <div class="mt-1">
        {% for question in question_list %}
        {% include 'learn/includes/accordion-item.html' with counter=forloop.counter question=question %}
        {% empty %}
            <p class="lead">No Question Available till now </p>
        {% endfor %}
        </div>
        <br>
        <div class="d-flex justify-content-between">
            <form action="{% url 'learn:toggle-completion' %}" method="POST" id="completion-form">
                {% csrf_token %}
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="is_completed" role="switch" id="page-completed" name="page-completed" {% if is_completed == False %}  {% else %} checked {% endif %}>
                    <input type="hidden" name="chapter_pk" value="{{chapter_pk}}">
                    <input type="hidden" name="page_no" value="{{page_no}}">
                    <label class="form-check-label" for="page-completed">{% if is_completed == False %}Page Not Completed {% else %}Page Completed{% endif %}</label>
                </div>
            </form>
            <div>
                <button type="button" class="btn-blank" data-bs-toggle="modal" data-bs-target="#page-fullscreen"><i class="bi bi-fullscreen"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="page-fullscreen" tabindex="-1" aria-labelledby="page-fullscreenLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="page-fullscreenLabel"> {{chapter.title}} - Page {{page_no}} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="https://raw.githubusercontent.com/my-personal-repos/english-grammar-book/main/chapter-{{chapter_pk}}/{{page_no}}.jpg" class="w-100" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

{% endblock page_content %}




{% block page_script %}

<script>

window.onload = ()=>{
    document.documentElement.scrollTop = parseFloat('{{chapter.scroll_height}}')
}

let switchBtn = document.querySelector('#page-completed')
let form = document.querySelector('#completion-form')
switchBtn.addEventListener('click', e=>{
    form.submit()
    console.log('changing')
})

document.addEventListener('scroll', e=>{
    let scrollHeight = document.documentElement.scrollTop
    let dataList = [['s_height', scrollHeight], ['c_pk', '{{chapter.pk}}'], ["csrfmiddlewaretoken", '{{csrf_token}}']]
    post("{% url 'learn:scroll-height' %}", dataList, ()=>{console.log('Height updated')}, ()=>{console.log('Failed to update height. Some error occoured')}, null, null)
})

</script>

<script>
    function insertBlank(){
        let element = document.querySelector('#question')
        element.value = element.value + ' _____ '
        element.focus()
    }
    function copyToClipboard(elementId, buttonId){
        let element = document.querySelector(`#${elementId}`)
        let button = document.querySelector(`#${buttonId}`)
        navigator.clipboard.writeText(element.value)
        button.innerHTML = '<i class="fa fa-check" aria-hidden="true"></i>'
        setTimeout(()=>{
            button.innerHTML = '<i class="fa fa-clipboard" aria-hidden="true"></i>'
        }, 1.5 * 1000)
    }
    function toTitleCase(string){
        return string.trim().toUpperCase().charAt(0) + string.trim().slice(1)
    }
    function startDictation(elementId, buttonId) {

        if (window.hasOwnProperty('webkitSpeechRecognition')) {

            var recognition = new webkitSpeechRecognition();

            recognition.continuous = false;
            recognition.interimResults = false;
            recognition.lang = "en-US";
            recognition.start();
            document.querySelector(`#${buttonId}`).className = 'btn btn-success'
            
            recognition.onresult = function (e) {
                document.querySelector(`#${elementId}`).value = toTitleCase(document.querySelector(`#${elementId}`).value + ' ' + e.results[0][0].transcript)
                recognition.stop();
                document.querySelector(`#${buttonId}`).className = 'btn btn-outline-primary'
                document.querySelector(`#${elementId}`)
            };
            recognition.onerror = function (e) {
                recognition.stop();
                document.querySelector(`#${buttonId}`).className = 'btn btn-danger'
            }
        }
    }
</script>

{% endblock page_script %}