{% extends 'myapp/base.html' %}

{% block page_title %}Practice Tests{% endblock page_title %}</title>
{% block page_style %}{% endblock page_style %}
{% block css_files %}{% endblock css_files %}
{% block page_navigation %}{% endblock page_navigation %}
{% block page_content %}
<ul>
{% for test in tests %}
    <li>
        Test {{test.pk}} : {{test.datetime}} ({{test.no_of_question}})
        {% if test.status == 1 %}
            <a href="">View Result</a>
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock page_content %}